doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        .wrap
            .star-t
                .star-tl
                .star-tr
            .content.framed
                .f
                    ins.t.l
                        ins
                    ins.t.r
                        ins
                    ins.c
                        #game-screen
                    ins.b.l
                        ins
                    ins.b.r
                        ins
                .lightning
            .star-b
                .star-bl
                .star-br
